site_name: advent-of-code
nav:
  - Home: index.md
  - Year 2025: 2025.md
  - Year 2024: 2024.md
  - Year 2023: 2023.md
  - Year 2022: 2022.md
  - Year 2021: 2021.md
  - Year 2019: 2019.md
  - Year 2018: 2018.md
  - Year 2015: 2015.md
theme:
  name: material
  font:
    text: Roboto
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: green
      accent: green
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: green
      accent: green
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
    - header.autohide
    - content.code.copy
    - navigation.top
    - navigation.footer
repo_name: advent-of-code
repo_url: https://github.com/coding-armadillo/advent-of-code
plugins:
  - search
  - tags
  - glightbox:
      auto_caption: true
  - minify:
      minify_html: true
  - git-revision-date-localized:
      type: timeago
      enable_creation_date: true
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.tabbed:
      alternate_style: true
extra:
  social:
    - icon: fontawesome/solid/house
      link: https://coding-armadillo.github.io/
    - icon: fontawesome/brands/github
      link: https://github.com/coding-armadillo
    - icon: fontawesome/solid/paper-plane
      link: mailto:hello.coding.armadillo@gmail.com
